{% extends 'layout.html' %}

{% block main %}
    <div id="homeContainer">
        <div class="homeWrapper">
            <div class="homeFeature text-center">
                <h2 class="mt-5">Welcome, {{ name }}</h2>
            </div>
            <div class="productsDisplay text-center ">
                {% for product in products %}
                    <form id="productidform" action="/product/{{ product['id'] }}" method="get">
                        <a class="viewproduct" onclick="this.closest('form').submit();" type="submit" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
                            <input name="productid" hidden="hidden" value=" {{ product['id'] }} ">
                            <div class="productDisplay-1 ">
                                <div class="productPhoto p-1" >
                                    <img src="{{ product['image'] }}" alt="">
                                </div>
                                <div class="productName font-weight-bold">
                                    {{ product['name'] }}
                                </div>
                                <div class="productBrand">
                                    ${{ product['price'] }}
                                </div>
                            </div>
                        </a>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- DO NOT DELETE-->
    <div id="pageFlowHeight"></div>
{% endblock %}