{% extends 'layout.html' %}
{% block main %}
<div id="bgBtn" style="height: 90vh;">
    <div id="addtoCartBanner">
            
    </div>
    <div class="productContainer mt-5" onclick="event.stopPropagation()" style="z-index: 10;">
        <div class="productWrapper text-center">
            {% for product in product %}
                <div class="productleftside">
                    <div id="productpageimg">
                        <img src="{{ product['image'] }}" alt="">
                    </div>
                </div>
                <div class="productrightside pl-5">
                    <div class="div">
                        {{ product['name'] }}
                    </div>
                    <div>
                        ${{ product['price'] }}
                    </div> 
                    <div class="my-5">
                        <input min="1" value="1" type="number" name="qty" id="productQty">
                        <button class="addtoCartBtn btn-secondary my-1"  value=" {{ product['id'] }} " type="button">Add to cart</button>
                    </div>
                    <div class="text-left productdesc">
                        {{ product['description'] }}
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>
{% endblock %}

