body {
    margin: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.mainContainer {
    width: 960px;
    margin: 0 auto;
    padding-top: 25px;
}


/* header styles */
header {
    background-color: rgba(218, 218, 218,0.9);
}

.navBarWrapper {
    width: 960px;
    margin: auto;
}

.nav-link{
    color: #8a8a8b;
    font-weight: bold;
    transition: 0.7s;
}

.nav-link:hover {
    color: black;
}


/* Home styles */
#submitName {
    margin-top: 10px;
}


/* Map styles */


/* quiz styles*/


/* contact styles */
 @keyframes shake {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
         transform: rotate(-45deg);
    }
}

#alarm {
    animation-name: shake;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.nav-link{
    color: #8a8a8b;
    font-weight: bold;
    transition: 0.7s;
}


/* footer styles */
footer {
    background-color: rgba(218, 218, 218,0.953);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerWrapper {
    padding: 10px;
}

.footerText {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    .mainContainer {
        width: 90%;
        margin: auto;
    }

    .navContainer {
        width: 90%;
    }

    .navBarWrapper {
        width: 90%;
    }
}