.advanced_nav_container, .search_container form .buttons input[value="Google Search"], .search_container form .buttons input[value="I'm Feeling Lucky"], .search_container form input[name=q], .search_container, .hero_container, .nav_container a, .right_nav a, .nav_container {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #202124;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.nav_container {
  height: 60px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav_container a:last-of-type, .right_nav a:last-of-type {
  margin-right: 15px;
}
.nav_container a, .right_nav a {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
}

.left_nav {
  margin-left: 15px;
}

main {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  height: calc(100% - 560px);
  max-height: 290px;
}

.search_container {
  padding: 20px;
  max-height: 160px;
}
.search_container form {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search_container form input[name=q] {
  border-radius: 24px;
  min-height: 44px;
  width: 584px;
  box-shadow: none;
  border: 1px solid #dfe1e5;
  z-index: 3;
  padding: 0 16px;
}
.search_container form .buttons {
  height: 70px;
  padding-top: 18px;
}
.search_container form .buttons input[value="Google Search"], .search_container form .buttons input[value="I'm Feeling Lucky"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}
.search_container form .buttons input[value="Google Search"]:hover, .search_container form .buttons input[value="I'm Feeling Lucky"]:hover {
  border: 1px solid black;
}

.advanced_nav_container {
  height: 60px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appbar {
  margin: 25px 35px;
  color: #d93025;
  font-size: 20px;
}
.appbar label {
  margin-left: 10px;
}

.line_break {
  border-bottom: 1px solid #ebebeb;
}

.advanced_main_container {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
  font-family: arial, sans-serif;
}

.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: 16% 50% auto;
  height: 41px;
  vertical-align: middle;
  align-items: center;
}

.middle_column input {
  width: 100%;
  height: 33px;
  border: 1px solid #d9d9d9;
}

.right_column {
  margin-left: 15px;
  color: #666;
  font-size: 11px;
}

#advanced_search_button {
  height: 30px;
  background-color: #4d90fe;
  width: 120px;
  border: 1px solid 3079ed;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  font-size: 11px;
  cursor: default;
  float: right;
}

/*# sourceMappingURL=styles.css.map */
