* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: white;
    max-width: 100%;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    max-height: 90vh;
    max-width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#id_create_form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

#id_title {
    width: 167px;
}
