
{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="w-100 text-center hover">
        <table class="w-100 text-left border-top border-bottom m-1">
            <thead>
                <tr>
                    <th>symbol</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quote["symbol"] }}</td>
                    <td>{{ quote["name"] }}</td>
                    <td>{{ quote["price"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
