{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <span>
            <select style="padding: 5px;" name="symbol">
                <option disable selected>Choose Stock</option>
                {% for stock in stocks %}
                    <option value={{ stock['symbol'] }}>{{ stock['symbol'] }}</option>
                {% endfor %}
            </select>
        </span>
        <input class="form-control" name="shares" placeholder="Shares" type="text">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
